<!DOCTYPE html>
<html>
<head>

    <title>aEye.com</title>
    <head>
      <div id ="test">
          <img class="rounded float-right" src="static/logo.png" width="150" height="150">
    </div>
        <center><h1>Welcome to aEye!</h1></center>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>

          h1 {
            color: white;
            text-align: center;
            background-color: blueviolet;
          }

          p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 17px;
          }
        </style>

    </head>
    <hr>
    <body style = "margin-left: 15px; margin-right: 15px">
        <h3>Our Mission: </h3>
        <p> We are interested in helping ophtomologists as well as individuals sort into one of these eight categories: </p>
        <ul>
            <li>Normal (N)</li>
            <li>Cateract (C)</li>
            <li>Glaucoma (G)</li>
            <li>Myopia (M)</li>
        </ul>

       <body style="background-color:powderblue;">
      <hr>
      <nav class="navbar">
          <div class = "navbar__container">
              <h3>Run A Disease Test</h3>
              <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>

          </div>
          <ul class = "navbar__menu">

        <li class = "navbar__item">
               <a href="/cateract" class="navbar__links"> Cateract </a>
        </li>

        <li class = "navbar__item">
                <a href="/glaucoma" class="navbar__links"> Glaucoma </a>
        </li>

        <li class = "navbar__item">
                <a href="/myopia" class="navbar__links"> Myopia</a>
        </li>

          </ul>
        </div>
      </nav>
        <hr>

        </ul>

        <h3>About us: </h3>
        <p>We are a group of four high school students who attend Thomas Jefferson High School For Science And Technology. In our free time we all like to play basketball.</p>

        <h5>Anjali likes to:</h5>
            <ul>
                <li>Watch TV shows</li>
                <li>Read dystopian books</li>
                <li>Hang out with her friends</li>

            </ul>
            <img src="../static/mybitmoji.jpg" class="img-fluid" alt="Responsive image" width="200" height="300">
        <h5>Karthik likes to:</h5>
            <ul>
                <li>Walk his dog</li>
                <li>Watch movies</li>
                <li>Play chess</li>
                <img src="../static/karthiksbitmoji.jpg" class="img-fluid" alt="Responsive image" width="200" height="300">
            </ul>
        <h5>Landon likes to:</h5>
            <ul>
                <li>Learn to cook</li>
                <li>Play video games</li>
                <li>Listen to music</li></ul>
                <img src="../static/landonsbitmoji.jpg" class="img-fluid" alt="Responsive image" width="200" height="300">
            </ul>

        <h5>Zarif likes to:</h5>
            <ul>
                <li>Hang out with friends and family</li>
                <li>Spend time outside</li>
                <li>Play board games</li>
                <img src="../static/zarifbitmoji.jpg" class="img-fluid" alt="Responsive image" width="200" height="300">
            </ul>




    </body>


</head>
</html>
